{% extends 'base.html' %}

{% block content %}
<!-- <div id="get_job_"> -->

    <h1 id="getJobPostingsTitle">{% block title %} Get Job Postings {% endblock %}</h1>
    
    <form method="post">
        <div class="form-group jobFormDiv">
            <label for="title" class="jobFormTitle">Job Title</label>
            <input type="text" name="title" placeholder="eg. Software Developer" class="form-control jobFormInput"
                value="{{ request.form['title'] }}"></input>
        </div>
        <div class="form-group jobFormDiv">
            <label for="location" class="jobFormTitle">Location</label>
            <input type="text" name="location" placeholder="eg. Raleigh" class="form-control jobFormInput"
                value="{{ request.form['location'] }}"></input>
        </div>
        <div class="form-group jobFormDiv">
            <label for="companyName" class="jobFormTitle">Company Name</label>
            <input type="text" name="companyName" placeholder="eg. Twitter" class="form-control jobFormInput"
                value="{{ request.form['companyName'] }}"></input>
        </div>
        <div class="form-group jobFormDiv">
            <label for="skills" class="jobFormTitle">Technical skills</label>
            <input type="text" name="skills" placeholder="eg. HTML" class="form-control jobFormInput"
                value="{{ request.form['skills'] }}"></input>
        </div>
        <div class="form-group jobFormDiv">
            <label for="jobtype" class="jobFormTitle">Job Type</label>
            <br>
            <select name="jobtype" id="jobtype">
                <option value='--Select Type--'></option>
                <option value="Internship">Internship</option>
                <option value="Full-Time">Full-Time</option>
                <option value="Part-Time">Part-Time</option>
                <option value="Contract">Contract</option>
            </select>
        <div class="form-group jobFormSubmitDiv">
            <button type="submit" id="jobFormSubmitButton">Submit</button>
        </div>
    </form>
</div>
<!-- {% endblock %} -->